@model FYPInitial.ViewModels.ManageViewModel
@{
    ViewBag.Title = "Manage";
}

<br />
<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>View and edit your account details</h4>
    <hr />
    <dl class="dl-appointments">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.IndexViewModel.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
       
    </dl>

    <div>
        
        <hr />
        <dl class="dl-appointments">

            <dt>
                @Html.DisplayNameFor(model => model.EditViewModel.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EditViewModel.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EditViewModel.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EditViewModel.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EditViewModel.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EditViewModel.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EditViewModel.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EditViewModel.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EditViewModel.Eircode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EditViewModel.Eircode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EditViewModel.PhoneNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EditViewModel.PhoneNo)
            </dd>

           
        </dl>

        
    </div>
</div>


<br />


<div class="fc-button-group">
    <input type="button" value="Edit Details" class="btn btn-success" onclick="location.href='@Url.Action("Edit", "Manage")'" />
</div>