@model IEnumerable<FYPInitial.Models.servicehistory>

@{
    ViewBag.Title = "Appointment History";
}

<br />

<h2>Appointment History</h2>

<br />


@if (Model != null)
{
    if (Model.Count() != 0)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Eircode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.End)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceType)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eircode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceType)
                </td>
       
            </tr>
        }

        </table>
    }
    else
    {
        <div>
            <h5>No appointment history exists for your account.</h5>
        </div>
    }
}

<div class="fc-button-group">
    <input type="button" value="Back" class="btn btn-default" onclick="location.href='@Url.Action("Index", "UserAppointment")'" />
</div>