@model FYPInitial.Models.userevent

@{
    ViewBag.Title = "Delete";
}

<br />

<h2>Delete</h2>

<h3>Are you sure you want to cancel this appointment?</h3>
<div>
    <hr />
    <dl class="dl-appointments">

        <dt>
            @Html.DisplayNameFor(model => model.ServiceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

        
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            <input type="button" value="Back" class="btn btn-default" onclick="location.href='@Url.Action("Index", "UserAppointment")'" />
            
        </div>

  

        
    }
</div>
