@model FYPInitial.Models.userevent

@{
    ViewBag.Title = "My Appointments";
}

<br />

<h2>Active Appointments</h2>

<div>

    @if (Model != null)
    {
        <h4>Current Appointment</h4>
        <hr />
        <dl class="dl-appointments">

            <dt>
                @Html.DisplayNameFor(model => model.ServiceType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ServiceType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Start)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Start)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.End)
            </dt>

            <dd>
               @Html.DisplayFor(model => model.End)
            </dd>
           
        </dl>

        <input type="button" value="Cancel Appointment" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "UserAppointment")'" />

    }
    else
    {
        <div>
            <br />
            <h5>You have no appointments booked at this time.</h5>
        </div>
    }


    <br />
    <br />
    <br />

    <h4>Previous Appointments</h4>
    <hr />

    <dl class="dl-appointments">

        <dt>
            Latest appointment: 
        </dt>

        <dd>
            @ViewData["daysAgo"]
        </dd>

     </dl>



        <div class="fc-button-group">
            <input type="button" value="View Service History" class="btn btn-success" onclick="location.href='@Url.Action("AppointmentHistory", "UserAppointment")'" />
        </div>




</div>

<br />






